/*  your css code here. If applicable */
 body {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
        .middle {
            border: 1px solid black;
            spacing: 1px;
            padding: 1px;
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }